* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 14px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
#home-page {
  margin: 0;
  color: #797979;
}
p {
  line-height: 30px;
}
h1, h2, h3, h4, p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.header {
  /* height: 7.142rem; */
  min-height: 100px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  margin: auto;
}
.soran {
  font-size: 2.571rem;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f7f7f;
}
.sun {
  font-size: 2.571rem;
  color: #ff65c2;
}
.header ul {
  list-style: none;
  display: inline-flex;
}
.header li:nth-child(2) {
  margin: 0 4.714rem;
}
.header li:nth-child(3) {
  margin-right: 4.714rem;
}
.nav-section {
  display: flex;
  align-items: center;
  margin: auto;
}
.nav {
 display: flex;
 align-items: center;
 font-weight: 600;
}
.nav a {
 color: #868686;
}
.pink-box {
  width: 11.357rem;
  height: 3.714rem;
  border-radius: 1.857rem;
  background-color: #ff65c2;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  margin: 0 2.357rem;
}
.rectangle {
  width: 2.5rem;
  height: 0.214rem;
  background-color: #868686;
}
.rectangle:nth-child(2) {
  margin: 0.5rem 0;
}




.section1 {
  height: 100vh;
  min-height: 816px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/section1/bike.png");
  background-size: cover;
  position: relative;
}
.section1:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373737;
  opacity: 0.73;
}
.content {
  position: relative;
  z-index: 1;
}
.section1 h1 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 82px;
  font-weight: 600;
}
.form1 {
  display: flex;
  justify-content: center;
}
::placeholder {
  color: #b5b5b5;
}
.form1 input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding: 28px 48px;
  width: 602px;
}
.form1 button {
  color: #ffffff;
  background-color: #ff65c2;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 22px 38px 19px 15px;
  display: flex;
  align-items: center;
}
.form1 button > span {
  margin-left: 12px;
}

.circle-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 220px;

}
.circle {
  width: 4.65rem;
  height: 4.65rem;
  border: solid 0.2rem #ff65c2;
  margin-right: 1.428rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  padding-top: 129px;
  padding-bottom: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-2-content-group {
  width: 83%;
}
.our-benefits {
  text-align: center;
  padding: 0 19%;
}
.our-benefits h1 {
  padding-bottom: 21px;
}

.benefits-group {
  display: flex;
  margin-top: 73px;
  justify-content: center;
}
.benefits {
  text-align: center;
}
.benefits:nth-child(2) {
  margin-left: 30px;
  margin-right: 31px;
}
.benefits:nth-child(3) {
  margin-right: 30px;
}
.benefits i, .benefits h3 {
  color: #ff65c2;
}
.benefits h3 {
  margin-top: 27px;
  margin-bottom: 13px;
}
.benefits i {
  font-size: 4.571rem;
}



.section-3 {
  background-color: #ff65c2;

}
.padding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 151px 0;
}

.content-box {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 42px;
  width: 40%;
}
.content-box:first-child{
  margin-right: 30px;
  padding-right: 2%;
  padding-left: 2%;
}
.content-box:last-child {
  padding-right: 1.7%;
  padding-left: 1.7%;
}
.content-box img {
  margin-top: 0.5rem;
  align-self: flex-start;
  margin-right: 33px;
}

.content-box h2 {
  margin-bottom: 23px;
}


.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.section-4-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 131px;
  padding-bottom: 141px;
  width: 85%;
}
.section-4-content li h4:before{
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 32px;
  margin-right: 11px;
  color: #ff65c2;
  vertical-align: sub;
}
.section-4-content li {
  padding-bottom: 21px;
}
.section-4-content p {
  padding: 6px 160px 43px 0;
}
.section-4-content h4 {
  font-weight: 600;
}
.section-4 ul {
  margin-left: -40px;
  list-style: none;
}






.section-5 {
  text-align: center;
  background-color: #f8f8f8;
  padding-top: 103px;
  padding-bottom: 119px;
}
.content-group {
  display:flex;
  justify-content: center;
  padding-top: 93px;
}
.section-5-content-box {
  width: 30%;
}
.section-5-content-box:nth-child(2) {
  margin-left: 33px;
  margin-right: 31px;
}
.background {
  background-image: url(../images/section5/path2.svg);
  background-repeat: no-repeat;
  /* background-position: top center; */
  background-size: cover;
  /* padding: 0 14px; */
}
.position {
  margin-top: 31px;
}
.position h4 {
  margin-bottom: 14px;
}








.section-6 {
  text-align: center;
  background-color: #ff65c2;
  padding-top: 131px;
  padding-bottom: 164px;
}
.slide {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #959595;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.slide:first-child {
  margin-right: 39px;
}
.slide:last-child {
  margin-left: 69px;
}
.section-6 h1 {
  color: #ffffff;
}
.section-6-content-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 136px;
}
div.section-6-content-box:nth-child(3){
  margin: 0 30px;
}
.section-6-content-box {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 4.9px 11px 0 rgba(192, 16, 79, 0.5);
  width: 360px;
  border-radius: 8px;
  overflow: hidden;
}
.text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:35px 0;
  color: #959595;
}
.text h2 {
  margin-bottom: 13px;
}



.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 87.27px;
  padding-bottom: 108px;
}
.section-7 h1 {
  margin-bottom: 79px;
}
.section-7-content-box:nth-child(2) {
  margin-left: 35px;
  margin-right: 30px;
}
.section-7-content-box h3 {
  margin-bottom: 8px;
}
.section-7-content-box a {
  font-weight: bold;
  color: #797979;
}
.section-7-content-box span > span {
  color: #ff65c2;
  margin-right: 4rem;
}
.section-7-content-box span ~ i {
  color: #ff65c2;
  margin-right: 3px;
  margin-left: 10px;
}
.section-7-content-box span {
  font-weight: normal;
}
.section-7-content-box p {
  font-weight: 300;
  margin-top: 21px;
  margin-bottom: 11px;
}
.section-7-content-group {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 85%;
}



.section-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff65c2;
  padding: 68px 0;
}
.subscribe {
  display: flex;
  align-items: center
}
.subscribe-input {
  width: 601px;
  margin-left: 35px;
  display: flex;
}
label {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.subscribe-input input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  outline: 0;
  padding-left: 68px;
  width: 452px;
}
.subscribe-input i {
  color: #ff65c2;
  position: relative;
  text-align: right;
  font-size: 24px;
  top: 33px;
  right:-60px;
  /* padding-left: 60px; */
}
.subscribe-input button {
  color: #ffffff;
  background-color: #565252;
  border: none;
  text-align: center;
  width: 154px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 29px 0;
}




.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 100px 0;
}
.nav-block-group {
  display: flex;
}
.footer-nav-block {
  text-align: left;
}
.footer-nav-block ul{
  /* padding-inline-start: 20px; */
  margin-left: -40px;
  color: #C1C1C1;
  font-size: 16px;
  line-height: 34px;
  list-style-type: none;
}
.footer-nav-block li:before {
  content: '\f35a';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 12px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.footer-nav-block:nth-child(2) {
  margin-left: 133px;
  margin-right: 132px;
}
.footer-nav-block:nth-child(3) {
  margin-right: 135px;
}
.follow {
  display: flex;
  justify-content: center;
}
.footer-content {
  text-align: center;
  padding-top: 41px;
}
.footer-content span {
  font-weight: 300;
}
.follow h3 {
  margin-right: 26px;
}
.follow h3, a {
  color: #999999;
}
.social-networks {
  display: flex;
  margin-bottom: 25px;
}
.social-networks h2 i {
  margin-right: 1rem;
  font-weight: normal;
}
.social-networks h2 a:nth-child(2) {
  color: #ff65c2;
}
