* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  /* font-family: 'Open Sans', sans-serif; */
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
  margin: 0;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #797979;
}
p {
  line-height: 2.14;
}
.container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.header {
  /* height: 7.142rem; */
  min-height: 100px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  margin: auto;
  /* display: flex; */
  /* align-content: center; */
}
.soran {
  font-size: 2.571rem;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f7f7f;
}
.sun {
  font-size: 2.571rem;
  color: #ff65c2;
}
.header ul {
  list-style: none;
  display: inline-flex;
}
.header li:nth-child(2) {
  margin: 0 4.714rem;
}
.header li:nth-child(3) {
  margin-right: 4.714rem;
}
.nav-section {
  display: flex;
  align-items: center;
  margin: auto;
}
.nav {
 display: flex;
 align-items: center;
 font-weight: 600;
}
a {
 text-decoration: none;
 color: #868686;
}
.pink-box {
  width: 11.357rem;
  height: 3.714rem;
  border-radius: 1.857rem;
  background-color: #ff65c2;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  margin: 0 2.357rem;
}
/* .trial {
 font-family: OpenSans;
 font-weight: 600;
 color: #ffffff;
} */
.rectangle {
  width: 2.5rem;
  height: 0.214rem;
  background-color: #868686;
  /* margin: 0.142rem; */
}
.rectangle:nth-child(2) {
  margin: 0.5rem 0;
}




.section1 {
  height: 100vh;
  min-height: 816px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/section1/bike.png");
  background-size: cover;
  position: relative;
}
.section1:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #373737;
  opacity: 0.73;
}
.content {
  position: relative;
  z-index: 1;
}
.section1 h1 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 82px;
}
.form1 {
  display: flex;
  justify-content: center;
}
::placeholder {
  color: #b5b5b5;
}
.form1 input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding: 27px 354px 28px 48px;
  color: #b5b5b5;
  width: 602px;
}
.form1 button {
  color: #ffffff;
  background-color: #ff65c2;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 22px 38px 19px 15px;
  display: flex;
  align-items: center;
}
.form1 button > span {
  margin-left: 12px;
}

.circle-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 220px;
  /* align-items: flex-end; */
  /* margin-right: 1.428rem; */
}
.circle {
  width: 4.65rem;
  height: 4.65rem;
  border: solid 0.2rem #ff65c2;
  margin-right: 1.428rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 20px; */
}

.section-2 {
  margin: 129px 231px 139px 230px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.our-benefits {
  text-align: center;
}
.benefits-group {
  display: flex;
  padding-top: 75px;
  justify-content: center;
}
.benefits {
  text-align: center;
  white-space: nowrap;
}
.benefits:nth-child(2) {
  margin-left: 35px;
  margin-right: 36px;
}
.benefits:nth-child(3) {
  margin-right: 35px;
}
.benefits i, .benefits h3 {
  color: #ff65c2;
}
.benefits i {
  font-size: 4.571rem;
}



.section-3 {
  background-color: #ff65c2;
}
.padding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 151px 230px;
}

.content-box {
  /* width: 555px;
  height: 220px;    */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 37px 40px 52px 36px;
}
.content-box:first-child{
  margin-right: 30px;
  /* padding: 40px 40px 52px 36px; */
}
.content-box img {
  /* margin-bottom: 50px; */
  align-self: flex-start;
}
.content-box div {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
}


.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 131px 131px 141px 230px; */
}
.section-4-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  padding: 131px 131px 141px 231px;
}
.section-4-content {
  position: absolute;
  left: 0;
}
.section-4-content li h4:before{
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 18px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  color: #ff65c2;
}
.section-4-content p {
  margin-top: 17px;
  margin-bottom: 58px;

}
.section-4-content h4 {
  font-weight: 600;
}
.section-4-container img {
  float: right;
}
.section-4 ul {
  margin-left: -40px;
  list-style: none;
}






.section-5 {
  text-align: center;
  background-color: #f8f8f8;
  padding: 103px 231px 119px 230px;
}
.content-group {
  display:flex;
  margin-top: 99px;
}

.section-5-content-box:nth-child(2) {
  margin-left: 78px;
  margin-right: 76px;
}
.section-5-content-box p {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  /* padding: 44px 24px 23px 22px; */
}
.section-5-content-box img {
  margin-bottom: -25px;
}
.position {
  margin-top: 22px;
}
.position h4 {
  margin-bottom: 14px;
}








.section-6 {
  text-align: center;
  background-color: #ff65c2;
}
.slide {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.section-6 h1 {
  color: #ffffff;
}
.section-6-content-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 136px;
}
.section-6-content-box {
  display: flex;
  flex-direction: column;
}
.text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px 101px 37px 101px; */
}



.section-7 {
  text-align: center;
}
.section-7 h1 {
  padding-top: 100px;
}
.section-7-content-box {

}
.section-7-content-box:nth-child(2) {
  margin-left: 41px;
  margin-right: 36px;
}
.section-7-content-box a {
  font-weight: bold;
  color: #797979;
}
.section-7-content-group {
  display: flex;
  text-align: left;
  padding: 91px 232px 113px 228px;
}



.section-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff65c2;
}
.subscribe {
  display: flex;
  align-items: center;
  padding: 68px 258px 68px 260px;
}
.subscribe-input {
  margin-left: 35px;
  display: flex;
}
label {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.subscribe-input input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  /* padding: 27px 488px 28px 48px; */
}
.subscribe-input button {
  color: #ffffff;
  background-color: #565252;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 82px;
}




.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 100px 334px 80px 230px;
}
.nav-block-group {
  display: flex;
}
.footer-nav-block ul{
  /* padding-inline-start: 20px; */
  margin-left: -40px;
  color: #C1C1C1;
  font-size: 16px;
  line-height: 34px;
  list-style-type: none;
  white-space: nowrap;
}
.footer-nav-block li:before {
  content: '\f35a';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 12px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.footer-nav-block:nth-child(2) {
  margin-left: 133px;
  margin-right: 132px;
}
.footer-nav-block:nth-child(3) {
  margin-right: 135px;
}
.follow {
  display: flex;
}
.footer-content {
  text-align: center;
  padding-top: 41px;
  margin-left: 34px;
}
.follow h3 {
  margin-right: 26px;
}

.social-networks {
  display: flex;
  /* justify-content: space-around; */
}
.social-networks h2 i {
  margin-right: 1rem;
  margin-top: 1.5rem;
  font-weight: normal;
}
.social-networks h2 a:nth-child(2) {
  color: #ff65c2;
}
