.header {
  min-height: 100px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    list-style: none;
    display: inline-flex;
  }
  li:nth-child(2) {
    margin: 0 4.714rem;
  }
  li:nth-child(3) {
    margin-right: 4.714rem;
  }
}
.logo {
  margin: auto;
}
.soran {
  font-size: 2.571rem;
  font-weight: $bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f7f7f;
}
.sun {
  font-size: 2.571rem;
  color: $color-primary;
}
.nav-section {
  display: flex;
  align-items: center;
  margin: auto;
}
.nav {
 display: flex;
 align-items: center;
 font-weight: $semi-bold;
 a {
  color: #868686;
 }
}
.pink-box {
  width: 11.357rem;
  border-radius: 1.857rem;
  background-color: $color-primary;
  justify-content: center;
  display: flex;
  padding: 1.214rem 0;
  color: $color-secondary;
  font-weight: 600;
  margin: 0 2.357rem;
}
.rectangle {
  width: 2.5rem;
  height: 0.214rem;
  background-color: #868686;
  &:nth-child(2) {
    margin: 0.5rem 0;
  }
}
